In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/trump-tweets/trumptweets.csv
/kaggle/input/trump-tweets/realdonaldtrump.csv

In [4]:
df=pd.read_csv("/kaggle/input/trump-tweets/trumptweets.csv")
df

,id,link,content,date,retweets,favorites,mentions,hashtags,geo
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 20:54:25,500,868,NaN,NaN,NaN
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-05 03:00:10,33,273,NaN,NaN,NaN
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 15:38:08,12,18,NaN,NaN,NaN
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 22:40:15,11,24,NaN,NaN,NaN
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 16:07:28,1399,1965,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
41117,1218962544372670467,https://twitter.com/realDonaldTrump/status/121...,I have never seen the Republican Party as Stro...,2020-01-19 19:24:52,32620,213817,NaN,NaN,NaN
41118,1219004689716412416,https://twitter.com/realDonaldTrump/status/121...,Now Mini Mike Bloomberg is critical of Jack Wi...,2020-01-19 22:12:20,36239,149571,NaN,NaN,NaN
41119,1219053709428248576,https://twitter.com/realDonaldTrump/status/121...,I was thrilled to be back in the Great State o...,2020-01-20 01:27:07,16588,66944,NaN,#,NaN
41120,1219066007731310593,https://twitter.com/realDonaldTrump/status/121...,"“In the House, the President got less due proc...",2020-01-20 02:16:00,20599,81921,@ @ @,NaN,NaN
41121,1219076533354037249,https://twitter.com/realDonaldTrump/status/121...,A great show! Check it out tonight at 9pm. @ F...,2020-01-20 02:57:49,7947,34902,@,NaN,NaN

In [8]:
from nltk.corpus import stopwords

In [11]:
import re

In [9]:
from nltk.stem import WordNetLemmatizer

In [14]:
clean=[]

In [16]:
for i in range(0, 15000):
    review = re.sub('(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?"', ' ', df['content'][i])
    review = review.lower()
    review = review.split()
    lm= WordNetLemmatizer() 
    review = [lm.lemmatize(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    clean.append(review)

In [18]:
df['content'][0]

'Be sure to tune in and watch Donald Trump on Late Night with David Letterman as he presents the Top Ten List tonight!'

In [17]:
clean[0]

'sure tune watch donald trump late night david letterman present top ten list tonight'

# All the contents are cleaned..

In [23]:
df_new=pd.DataFrame(df['content'][0:15000])
df_new

                                                 content
0      Be sure to tune in and watch Donald Trump on L...
1      Donald Trump will be appearing on The View tom...
2      Donald Trump reads Top Ten Financial Tips on L...
3      New Blog Post: Celebrity Apprentice Finale and...
4      "My persona will never be that of a wallflower...
...                                                  ...
14995  W/a newly expanded 27 holes of golfing, Trump ...
14996  Thank you @ HauteLivingMag for naming @ TrumpD...
14997  As I predicted, Obama already caught lying on ...
14998  “Get to know yourself.You can’t improve upon s...
14999  “Once you know you love your job, never stop a...

[15000 rows x 1 columns]

In [24]:
df_new['tweets']=clean

In [25]:
df_new

,content,tweets
0,Be sure to tune in and watch Donald Trump on L...,sure tune watch donald trump late night david ...
1,Donald Trump will be appearing on The View tom...,donald trump appearing view tomorrow morning d...
2,Donald Trump reads Top Ten Financial Tips on L...,donald trump read top ten financial tip late s...
3,New Blog Post: Celebrity Apprentice Finale and...,new blog post celebrity apprentice finale less...
4,"""My persona will never be that of a wallflower...",persona never wallflower rather build wall cli...
...,...,...
14995,"W/a newly expanded 27 holes of golfing, Trump ...",w newly expanded 27 hole golfing trump intl pa...
14996,Thank you @ HauteLivingMag for naming @ TrumpD...,thank hautelivingmag naming trumpdoral 1 golf ...
14997,"As I predicted, Obama already caught lying on ...",predicted obama already caught lying ocare enr...
14998,“Get to know yourself.You can’t improve upon s...,get know improve upon something understand ask...
14999,"“Once you know you love your job, never stop a...",know love job never stop never give think like...

In [27]:
from nltk.tokenize import word_tokenize

In [28]:
df_new['tokens']=df_new['tweets'].apply(word_tokenize)

In [29]:
df_new

,content,tweets,tokens
0,Be sure to tune in and watch Donald Trump on L...,sure tune watch donald trump late night david ...,"[sure, tune, watch, donald, trump, late, night..."
1,Donald Trump will be appearing on The View tom...,donald trump appearing view tomorrow morning d...,"[donald, trump, appearing, view, tomorrow, mor..."
2,Donald Trump reads Top Ten Financial Tips on L...,donald trump read top ten financial tip late s...,"[donald, trump, read, top, ten, financial, tip..."
3,New Blog Post: Celebrity Apprentice Finale and...,new blog post celebrity apprentice finale less...,"[new, blog, post, celebrity, apprentice, final..."
4,"""My persona will never be that of a wallflower...",persona never wallflower rather build wall cli...,"[persona, never, wallflower, rather, build, wa..."
...,...,...,...
14995,"W/a newly expanded 27 holes of golfing, Trump ...",w newly expanded 27 hole golfing trump intl pa...,"[w, newly, expanded, 27, hole, golfing, trump,..."
14996,Thank you @ HauteLivingMag for naming @ TrumpD...,thank hautelivingmag naming trumpdoral 1 golf ...,"[thank, hautelivingmag, naming, trumpdoral, 1,..."
14997,"As I predicted, Obama already caught lying on ...",predicted obama already caught lying ocare enr...,"[predicted, obama, already, caught, lying, oca..."
14998,“Get to know yourself.You can’t improve upon s...,get know improve upon something understand ask...,"[get, know, improve, upon, something, understa..."
14999,"“Once you know you love your job, never stop a...",know love job never stop never give think like...,"[know, love, job, never, stop, never, give, th..."

In [31]:
df_new['tokens'][90]

['melania',
 'qvc',
 'tomorrow',
 'night',
 '9',
 'p',
 'et',
 'introduce',
 'beautiful',
 'inspiring',
 'melania',
 'timepiece',
 'fashion',
 'jewelry',
 'collection']

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

In [50]:
df_new['tokens'][90]

['melania',
 'qvc',
 'tomorrow',
 'night',
 '9',
 'p',
 'et',
 'introduce',
 'beautiful',
 'inspiring',
 'melania',
 'timepiece',
 'fashion',
 'jewelry',
 'collection']

In [47]:
vect = CountVectorizer().fit(df_new['tokens'][90])
bag_of_words = vect.transform(df_new['tokens'][90])
sum_words = bag_of_words.sum(axis=0)

In [49]:
sum_words

matrix([[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1]], dtype=int64)

# Get most Frequent Words..

In [37]:
def most_freq_words(s, n=None):
    vect = CountVectorizer().fit(s)
    bag_of_words = vect.transform(s)
    sum_words = bag_of_words.sum(axis=0) 
    freq = [(word, sum_words[0, idx]) for word, idx in vect.vocabulary_.items()]
    freq =sorted(freq, key = lambda x: x[1], reverse=True)
    return freq[:n]

In [38]:
most_freq_words([ word for tweet in df_new.tokens for word in tweet],20)

[('realdonaldtrump', 2933),
 ('great', 1760),
 ('thanks', 1611),
 ('trump', 1552),
 ('obama', 926),
 ('barackobama', 798),
 ('thank', 667),
 ('good', 640),
 ('get', 610),
 ('like', 607),
 ('time', 603),
 ('people', 577),
 ('president', 568),
 ('donald', 555),
 ('would', 555),
 ('cont', 547),
 ('new', 540),
 ('think', 536),
 ('one', 511),
 ('job', 468)]

# Least Frequent Words..

In [41]:
def least_freq_words(s, n=None):
    vect = CountVectorizer().fit(s)
    bag_of_words = vect.transform(s)
    sum_words = bag_of_words.sum(axis=0) 
    freq = [(word, sum_words[0, idx]) for word, idx in vect.vocabulary_.items()]
    freq =sorted(freq, key = lambda x: x[1], reverse=False)
    return freq[:n]

In [42]:
least_freq_words([ word for tweet in df_new.tokens for word in tweet],20)

[('wallflower', 1),
 ('cling', 1),
 ('tara', 1),
 ('conner', 1),
 ('achieves', 1),
 ('trumpative', 1),
 ('barnesandnoble', 1),
 ('precipice', 1),
 ('igoogle', 1),
 ('thoughtful', 1),
 ('fb', 1),
 ('url', 1),
 ('sf', 1),
 ('chronicle', 1),
 ('beckham', 1),
 ('britney', 1),
 ('inexplicable', 1),
 ('randal', 1),
 ('pinkett', 1),
 ('lieutenant', 1)]

In [65]:
df_new['tokens'][1]

['donald',
 'trump',
 'appearing',
 'view',
 'tomorrow',
 'morning',
 'discus',
 'celebrity',
 'apprentice',
 'new',
 'book',
 'think',
 'like',
 'champion']

In [59]:
cvn = CountVectorizer()
data_cvn = cvn.fit_transform([word.lower() for word in df_new['tokens'][1]])
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn

,appearing,apprentice,book,celebrity,champion,discus,donald,like,morning,new,think,tomorrow,trump,view
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,1,0,0
5,0,0,0,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0,0,0,0,0
7,0,0,0,1,0,0,0,0,0,0,0,0,0,0
8,0,1,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,1,0,0,0,0
10,0,0,1,0,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,1,0,0,0
12,0,0,0,0,0,0,0,1,0,0,0,0,0,0
13,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [66]:
for i in range(0,15000):
    cvn = CountVectorizer()
    data_cvn = cvn.fit_transform(df_new['tokens'][i])
    data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
#     data_dtmn

ValueError: empty vocabulary; perhaps the documents only contain stop words

In [51]:
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

NameError: name 'Dictionary' is not defined